---
import data from "../../data.json";
import Layout from "../../layouts/Layout.astro";
import Agent from "../components/Agent.astro";
---

<Layout>
  <main class="grid max-w-xl mx-auto">
    {data.map((agent) => <Agent {...agent} />)}
  </main>
</Layout>
