---
// featured.astro
import data from "../../data.json";
import Link from "../components/Link.astro";

const featured = data.filter((agent: any) => agent.is_featured === true);
---

<div class="grid mx-auto">
  {featured.length > 0 && featured.map((agent) => <Link {...agent} />)}
  {featured.length === 0 && <div>No promotion so far.</div>}
</div>
