---
import DarkMode from "./DarkMode.astro";
import Logo from "./Logo.astro";
---

<header class="grid max-w-2xl mx-auto text-center py-12">
  <div class="flex items-center justify-center gap-2 fade-in-up">
    <div class="rotate-2">
      <Logo />
    </div>
    <DarkMode />
  </div>
  <h1 class="cal-sans text-5xl fade-in-up-2" style="line-height: 1.23;">
    Every week, the best products
  </h1>
  <p class="text-lg fade-in-up-3">
    Discover, compare, and follow the next big SaaS before anyone else.
  </p>
  <div class="flex mx-auto my-2 fade-in-up-3 mt-12">
    <a
      href="https://codeg.link/oksaas"
      target="blank"
      class="rounded-full bg-linear-to-r from-kiwi-300 to-kiwi-600 hover:from-kiwi-600 hover:to-kiwi-300 p-1"
    >
      <button
        class="flex items-center gap-1 font-[500] px-4 py-3 cursor-pointer bg-gradient-to-r from-kiwi-600 to-kiwi-700 hover:from-kiwi-700 hover:to-kiwi-600 transition duration-300 rounded-full text-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
          <path fill="currentColor" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z"
          ></path></svg
        >
        <span class="font-[600]">New Launch (free)</span>
      </button>
    </a>
  </div>

  <div
    class="hidden lg:flex items-center justify-start fixed top-2 right-2 fade-in-up-3"
  >
    <a
      href="https://www.producthunt.com/products/oksaas?embed=true&utm_source=badge-featured&utm_medium=badge&utm_source=badge-oksaas"
      target="_blank"
      ><img
        src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=1044610&theme=light&t=1764671137437"
        alt="Oksaas - The best products every week | Product Hunt"
        style="width: 250px; height: 54px;"
        width="250"
        height="54"
      /></a
    >
    <a
      href="https://peerlist.io/guillaumeduhan/project/oksaasco"
      target="_blank"
      rel="noreferrer"
      class="scale-85"
    >
      <img
        src="https://peerlist.io/api/v1/projects/embed/PRJH8OELADKJD9B7LH9BJNDJON6ENG?showUpvote=false&theme=dark"
        alt="Oksaas.co"
        style="width: auto; height: 72px;"
      />
    </a>
  </div>
</header>
