---
import logo from "../../public/logo.png";

interface Props {
  name?: string;
}

const { name = "YourBrand" } = Astro.props;
---

<a href="/" class="inline-flex items-center gap-2">
  <svg
    width="39"
    height="39"
    viewBox="0 0 39 39"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_2037_239)">
      <rect width="39" height="39" fill="#00C269"></rect>
      <path
        d="M26.6995 11.2291C28.3818 12.6613 29.5625 14.2766 30.2416 16.075C30.9352 17.8723 31.1016 19.7155 30.7406 21.6048C30.3942 23.4928 29.4982 25.2859 28.0527 26.984C26.587 28.7056 24.9388 29.9329 23.1081 30.6658C21.2841 31.3909 19.4102 31.5853 17.4863 31.2491C15.5769 30.9118 13.7457 29.9969 11.9927 28.5044C10.216 26.9919 8.99483 25.3286 8.32914 23.5145C7.67015 21.6925 7.55358 19.8306 7.97944 17.9288C8.40529 16.027 9.36444 14.1996 10.8569 12.4465C12.2891 10.7642 13.9162 9.5935 15.7382 8.93451C17.568 8.28221 19.4321 8.14716 21.3304 8.52935C23.2353 8.90368 25.0251 9.80361 26.6995 11.2291ZM18.9839 25.5481C20.0413 24.306 20.9468 22.9955 21.7003 21.6167C21.8917 21.2644 22.1275 20.7804 22.4076 20.1647C22.6877 19.549 22.952 18.8723 23.2003 18.1346C23.4565 17.4036 23.654 16.67 23.7926 15.9338C23.9391 15.2043 23.9738 14.5424 23.8968 13.948C23.8343 13.3524 23.6144 12.894 23.237 12.5728C22.8361 12.2315 22.4086 12.1523 21.9546 12.3352C21.5084 12.5249 21.085 12.8152 20.6843 13.2063C20.2981 13.5961 19.9846 13.9326 19.7437 14.2156C18.9138 15.1904 18.1625 16.2321 17.4899 17.3408C16.8318 18.4483 16.2802 19.6058 15.8352 20.8134C15.702 21.161 15.5491 21.6273 15.3763 22.2125C15.2115 22.8043 15.082 23.4262 14.9879 24.0783C14.8938 24.7303 14.8762 25.3323 14.9352 25.8842C15.002 26.4428 15.2005 26.8626 15.5307 27.1437C15.9316 27.485 16.3518 27.5648 16.7913 27.383C17.2386 27.2079 17.6554 26.9254 18.0415 26.5356C18.4355 26.1524 18.7497 25.8232 18.9839 25.5481Z"
        fill="white"></path>
    </g>
    <defs>
      <clipPath id="clip0_2037_239">
        <rect width="39" height="39" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</a>
