---
import logo from "../../public/logo.png";

interface Props {
  name?: string;
}

const { name = "YourBrand" } = Astro.props;
---

<a href="/" class="inline-flex items-center gap-2">
  <img
    src={logo.src}
    alt={`${name || "OkAgents"} logo`}
    class="h-8 lg:h-10 w-auto rounded"
    loading="lazy"
  />
</a>
