---
/* no props needed */
---

<div class="flex items-center justify-center my-12">
  <a
    href="https://www.youtube.com/watch?v=JHyRGUrLK_4"
    target="blank"
    class="relative flex items-center justify-center gap-2 p-2"
  >
    <svg
      class="absolute text-kiwi-600 z-[999]"
      xmlns="http://www.w3.org/2000/svg"
      width="64"
      height="64"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="m9.5 16.5l7-4.5l-7-4.5zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"
      ></path></svg
    >
    <img
      src="/oksaas.jpg"
      alt="Oksaas"
      class="opacity-50 rounded-lg w-full max-w-96 z-50"
    />
  </a>
</div>
